<h1 mat-dialog-title>{{initialData.text ? 'Edit' : 'Create'}} Event</h1>
<div mat-dialog-content class="dialog-content">
    <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput readonly [matDatepicker]="picker" name="dateInput" [(ngModel)]="data.date">
        <mat-datepicker #picker [startAt]="data.date"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Time</mat-label>
        <input matInput required type="time" name="timeInput" [(ngModel)]="data.time">
        <mat-error *ngIf="!isTimeValid">{{timeErrorMessage}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Text</mat-label>
        <input matInput required type="text" name="textInput" maxlength="30" [(ngModel)]="data.text">
        <mat-error *ngIf="!isTextValid">{{textErrorMessage}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>City | 
            {{weather.main ? (weather.main.temp - 273.15 | number:'1.0-0')  : '--'}}<sup>o</sup>C
        </mat-label>
        <input matInput name="cityInput" (focusout)="getWeather(data.city)" [(ngModel)]="data.city">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Color</mat-label>
        <input matInput type="color" name="colorInput" value="#f0f0f0" [(ngModel)]="data.color">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()" class="dialog-button">Cancel</button>
    <button mat-button (click)="saveReminder()" class="dialog-button" cdkFocusInitial>Ok</button>
</div>